/* Footer Container */
.footer-container {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* Footer Text */
.footer-container p {
  margin: 0;
  font-size: 16px;
}

/* Footer Link */
.footer-container a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

/* Footer Link Hover */
.footer-container a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .footer-container {
    position: relative;
  }
}
